.visual{
    display: flex;    
    text-align: left;
    flex-direction: column;
    align-items: flex-end;
    
}

.countryContainer{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;    
    margin: 0px 20px 20px 20px;    
    width: 100%;
    background-color: #373d44d3;
}

#heart{
    width: 30px;
    height: 35px;
    cursor: pointer;
}

.country{
    text-align: center;    
    width: 200px;
    padding: 10px;
    margin: 10px;    
    color: white;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
}

.countryAccess{
    text-decoration: none;
    color: white;
}

.country:hover{
    background-color: #515960
}

.country-content span{
    color: white;
    font-size: 20px;
    text-decoration: none;
}

.country-content label{
    color: rgb(182, 177, 177);
    font-size: 15px;
}

.country img{      
    width: 100%;    
    height: 150px;
    
}

.country{
    filter: grayscale(80%);
    -webkit-filter: grayscale(80%);
    transition: 0.3s;
}

.country:hover{
    filter: none;
    -webkit-filter: grayscale(0);
    transition: 0.3s;
}

.country img:hover{      
    width: 100%;    
    height: 150px;
    
}


.countrySpace{
    width: 80%;
    display: flex;
    justify-content: flex-end;
}

.paginatorSpace{
    width: 80%;
    display: flex;
    justify-content: flex-end;
}

.paginatorContainer{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;
    background-color: #373d44d3;
    width: 100%;
    margin: 0px 20px 0 20px;
}

#notfound{
    color: rgb(175, 163, 163);
}

.heart{
    position: absolute;
    right: 20px;    
}

#heart:hover{
    background: url('../Assets/heart_red.png');
    background-repeat: no-repeat;
    background-size: 102%;
    background-position: center;
    /* width: 30px;
    height: 35px; */
    cursor: pointer;
}