@media only screen and (min-width: 360px) and (max-width: 768px) {
    .visual{
        display: flex;    
        text-align: center;
        flex-direction: column;
        align-items: flex-end;   
        height: 100%;
        width: 90%;
        margin-left: 50px;
    }

    .country{
        text-align: center;    
        width: 150px;
        padding: 10px;
        margin: 10px;    
        color: white;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.605);
        transition: 0.3s;    
        background-color: rgba(190, 190, 190, 0.082);
        border-radius: 15px;
    }
}

@media only screen and (min-width: 769px){

    .visual{
        display: flex;    
        text-align: left;
        flex-direction: column;
        align-items: flex-end;   
        height: 100%;
        margin-left: 16px;
    }

    .country{
        text-align: center;    
        width: 200px;
        padding: 10px;
        margin: 10px;    
        color: white;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.605);
        transition: 0.3s;    
        background-color: rgba(190, 190, 190, 0.082);
        border-radius: 15px;
    }
}


.countryContainer{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;    
    margin: 0px 20px 20px 20px;    
    width: 100%;
    background: rgb(20,20,20);
background: linear-gradient(0deg, rgba(20,20,20,0.20772058823529416) 0%, rgba(30,42,62,1) 83%);
    
    border-radius: 0px 0px 20px 20px;
}




.countryAccess{
    text-decoration: none;
    color: white;
}

.country:hover{
    
    background-color: #58440c;
    border-radius: 20px;
    transition: 0.5s;
}

.country-content span{
    color: white;
    font-size: 20px;
    text-decoration: none;
}

.country-content label{
    color: rgb(182, 177, 177);
    font-size: 15px;
}

.country img{      
    width: 100%;    
    height: 150px;    
}

.country{
    filter: grayscale(80%);
    -webkit-filter: grayscale(80%);
    transition: 0.3s;
}

.country:not(#heart):hover{
    filter: none;
    -webkit-filter: grayscale(0);
    transition: 0.3s;
}

.country img:hover{      
    width: 100%;    
    height: 150px;
    
}


.countrySpace{
    width: 96%;
    display: flex;
    justify-content: flex-end;
}



#notfound{
    color: rgb(175, 163, 163);
}

.heart{
    position: absolute;
    right: 20px;    
}

#heart{
    width: 30px;
    height: 35px;
    cursor: pointer;
}

#heart:hover{
    content: url('../Assets/heart_red.png');
    width: 30px;
    height: 35px;
    /* width: 30px;
    height: 35px; */
    cursor: pointer;
    -webkit-filter: drop-shadow(5px 5px 5px #222);
    filter: drop-shadow(0px 5px 5px #222);
    transition: 0.2s;
}

.icon{
    font-size: 50px;
    color: #815104;
}

.notfound{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 10px;
}

.notfound #flagNotFound{
    color: white;    
    font-size: 50px;
}




