.createSpace{
    width: 80%;
    display: flex;
    justify-content: flex-end;
    color: rgb(191, 191, 191);
}

.btn{
    display: flex;
    justify-content: center;
    align-items: center;
}

#btn:hover{
    background-color: rgb(128,96,44);
}

.btn span{
    padding-left: 10px;
}

.createContainer{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;    
    justify-content: space-evenly;
    background: rgb(41,54,72);
background: linear-gradient(0deg, rgba(41,54,72,1) 0%, rgba(41,54,72,0.5046393557422969) 73%);
    margin: 0px 20px 0px 20px;
    padding: 20px;
    width: 100%;
    border: 1px rgba(0, 0, 0, 0.596) solid;
    border-radius: 20px;
}

.flagList{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
}

.submBtn{
    display: flex;
    align-items: center;
}

.miniFlag{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
}

.miniFlag img{
    width: 70px;
    height: 50px;
    padding: 5px;
}

.miniFlag span{
    font-size: 13px;
}

#miniX{
    background-color: #373d4400;
    border: none;
    font-size: 15px;
    color: white;
}

.saveBtn{
    display: flex;
    align-items: center;
    justify-content: flex-start;
}