.createSpace{
    width: 80%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    color: rgb(191, 191, 191);
}

.btn{
    display: flex;
    justify-content: center;
    align-items: center;
}

#btn:hover{
    background-color: rgb(128,96,44);
}

.btn span{
    padding-left: 10px;
}

.createContainer{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;    
    justify-content: space-evenly;
    background: rgb(41,54,72);
background: linear-gradient(0deg, rgba(41,54,72,1) 0%, rgba(41,54,72,0.5046393557422969) 73%);
    margin: 0px 20px 0px 20px;
    padding: 20px;
    width: 100%;
    
    border-radius: 20px;
}

.createContainerAct{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: flex-start;
    background: rgb(41,54,72);
    background: linear-gradient(0deg, rgba(41,54,72,1) 0%, rgba(114, 114, 114, 0.505) 73%);
    margin: 0px 20px 0px 20px;
    padding: 20px;
    width: 100%;
    border-radius: 20px;
    height: 100%;
}

.flagList{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
}

.submBtn{
    display: flex;
    align-items: center;
    background-color: #515960;
    border: none;
    padding: 9px;
    margin: 5px;
    color: white;
}


.submBtn:hover{
    background-color: #BD872D;
    transition: 0.5s;
}

.miniFlag{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
}

.miniFlag img{
    width: 70px;
    height: 50px;
    padding: 5px;
}

.miniFlag span{
    font-size: 13px;
}

#miniX{
    background-color: #373d4400;
    border: none;
    font-size: 15px;
    color: white;
}

.saveBtn{
    display: flex;
    align-items: center;
    justify-content: flex-start;
}


#renglon{
    width: 100%;    
}

#sportPic{
    position: absolute;
    -webkit-animation-name: fadeIn;
    animation-name: fadeIn;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards; 
    transition: opacity 0.2s;
}

@-webkit-keyframes fadeIn {
    0% {opacity: 0;}
    100% {opacity: 1;}
    }
    @keyframes fadeIn {
    0% {opacity: 0;}
    100% {opacity: 1;}
  }


.formulario{
    z-index: 10;
}

.typePic{
    display: flex;
    flex-direction: row;
    justify-content: center;
    transition: 0.5s;
}

.block{
    margin-top: 5px;
}

.actRes{
    font-size: 20px;
    font-weight: bold;
    color: #EBA027;    
}