

.title-dock{
    display: flex;
    
    color: black;
    display: flex;
    color: #E4E7EA;
    font-size: 30px;
    margin: auto;
    height: 50px;
    margin: 20px;
    align-items: center;
    justify-content: space-around;
    border: 1px solid rgb(36, 35, 35);
}

.filter-dock{
    display: flex;
    background-color: #1e2a3e;
    color: black;
    display: flex;
    color: #E4E7EA;
    font-size: 20px;
    padding-left: 20px;
    height: 50px;
    margin: 20px;
    align-items: center;
    justify-content:flex-start;
    border: 1px solid rgb(36, 35, 35);    
}

.inner-filter{    
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: -20px 20px 20px 20px;
    border-radius: 0px 0px 20px 20px;
    background: rgb(41,54,72);
background: linear-gradient(0deg, rgba(41,54,72,1) 0%, rgba(41,54,72,0.639093137254902) 46%, rgba(41,54,72,1) 89%);
    padding: 20px;
    color: white;
    border: 1px solid rgba(101, 100, 100, 0.153);
}

.page-dock{
    display: flex;
  
    color: black;
    display: flex;
    color: #E4E7EA;
    font-size: 20px;
    padding-left: 20px;
    height: 50px;
    margin: 20px;
    align-items: center;
    justify-content:flex-start;
    border-radius: 5px;
}

.filter{ 
    width: 80%; 
}

.filtro-row{    
    text-align: center;
}

.filtro-row span{
    color: #a3a6a8;
}

.btnFilter{
    width: 40%;
}



.input:not(#inputNameSearch){
    background-color: #515960;
    border: none;
    padding: 9px;
    margin: 5px;
    color: white;    
}

.btnPopulationOrder{
    background-color: #515960;
    border: none;
    padding: 9px;
    margin: 5px;
    color: white;  
    height: 34px;
}

.inputContinents{
    background-color: #515960;
    border: none;
    padding: 9px 9px 9px 0px;
    margin: 5px 5px 5px 0px;
    color: white;
    border-radius: 0px 5px 5px 0px;
}

.searchByName{
    display: flex;
    align-items:center;
    justify-content: flex-start;
}

.search{
    background-color: #515960;
    border: none;
    height: 34px;    
}

#inputNameSearch{
    background-color: #515960;
    border: none;
    height: 32px; 
    color: white;
    padding-left:10px;
}

#inputNameSearch:focus {
    outline: none; 
    
}

#name{
    display: flex;
    /* margin: auto; */
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
}

#iconFilter{
    display: flex;
    align-items: center;
    background-color: #515960;
    height: 34.5px;
    border-radius: 5px 0px 0px 5px;
    padding-left: 5px;
}

.iconFilter{
    display: flex;
    align-items: center;
}

#bigP, #smallP{
    display: flex;
    align-items: center;
}

.popu{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
}